/* Style the top nav menu bar */
nav {
    border-bottom: 1px solid black;
}

body {
  background-color: #737373;
}
/* Header Style containing app name, top menu nav bar and login panel */
header {
  border-bottom: 1px solid black;
  width: 100%;
  font-family: 'MedievalSharp', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  height: 5rem;
}
.logo-mtg-name {
  width: 20%;
  display: inline-flex;
}
.nav {
  margin: 0 auto;
  width: 65%;
  display: inline-flex;
}
.nav > ul {
  margin: auto;
  font-size: larger;
}
.nav-link {
  display: inline-block;
  background-color: #D9D9D9;
  padding: .3rem 2rem;   
  margin: .15rem;
}
.nav-link a {
  text-decoration: none;
  font-weight: 600;
}
.login-panel {
  width: 12%;
  display: inline-flex;
  background-color: #D9D9D9;  
  position: absolute;
  right: 0%;  
  margin: 0%;
  padding: .45rem;
  height: auto;
}
.login-panel h4 {
  margin: auto;
  font-size: medium;
  padding: .4rem;
}
/* Singup form style design */
.signup-box {
  display: none;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.box-content {
  margin: 50px auto;
  width: 60%;
}
.signup-box h3 {
  margin: 0 0 20px;
  font-weight: bold;
  color: #555;
}
.signup-form > a {
  color: #555;
  display: block;
  padding: 0 0 5px;
}
.openedSignupBox {
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px #f5f5f5;
  background-color: #eee;
}
.signup-box input,
.signup-box textarea {
  width: 90%;
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid #7a7878;
  outline: none;
}
.signup-box label {
  display: block;
}
.signup-form button {
  width: 92%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  background: #7a7878;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.signup-box button:hover {
  background: #555;
  cursor: pointer;
}
.close {
  color: rgb(207, 206, 206);
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* The message box is shown when the user clicks on the password field */
#password-message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  margin-top: 10px;
}
#password-message h3, 
#password-message p {
  margin: 2px 0px;
}
#password-message p {
  font-size: 18px;
}
/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}
.valid::before {
  position: relative;
  left: -5px;
  content: '🗸';
}
/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}
.invalid::before {
  position: relative;
  left: -5px;
  content: "✘";
}
/* Filter and add cards elements */
.add-card, .filter-cards, .create-deck {
  background-color: #D9D9D9;
  width: 46%;
  height: 7rem;
  padding: .51rem;
  border: none;
  position: relative;
}
.filter-cards, .create-deck {
  float: left;
}
.add-card legend, .filter-cards legend, .create-deck legend {
  font-weight: bold;
  position: absolute;
  top: -18px;
}
.filter-cards > input {
  margin: .1rem;
}
.filter-cards > legend, 
.add-card > legend,
.filter-cards p, 
.add-card p {
  margin: 0px;
  padding: 0px;
}
.add-card {
  float: right;
  position: relative;
}
/* Filter Styles */
.cards_box{
  display: table;
  padding-top: 10px;
}
.cards_box, .cards_row{
  display: table-row;
  clear: both;
}
.cards_box .cards_row div {
  background-color: white;
  display: table-cell;
  border: 1px solid black;
  border-spacing: 10px;
  height: 25px;
  width: 15px;
  padding: 10px;
}
#display-card-options {
  z-index: 1;
  display: none;
  border: 1px solid #797373;
  background-color: #d9d9d9d7;
  position: absolute;
  top: 0;
  width: 10rem;
  left: -10.7rem;
  padding: .3rem;
  border-radius: .3rem;
  text-align: center;
}
.card-image-result {
  width: 9.5rem;
  margin: 0px auto;
  transition: 100ms;
  cursor: pointer;
}
.card-image-result:hover {
  width: 10rem;
}
#card-selected-info {
  display: none;
}
@media only screen and (max-width: 700px) {
  html {
    padding: .3rem;
  }
  header {
    height: 7rem;
  }
  .nav li {
    width: 25%;
    text-align: center;
  }
  .login-panel h4 {
    margin: auto;
    padding: .1rem;
  }
  .login-panel {
    margin: 1em auto 0;
  }
}

@media only screen and (max-width: 400px) {
  header {
    position: relative;
    margin: 0%;
  }
  .logo-mtg-name {
    font-size: medium;
    padding: 0%;
    margin-right: 2px;
  }
  .nav {
    width: 55%;
  }
  .nav ul {
    font-size: small;
    padding: 0;
    margin: 0 auto;
  }
  .nav li {
    width: 25%;
    text-align: center;
  }
  .nav-link {
    display: inline-block;
    background-color: #D9D9D9;
    padding: .1rem 1rem;   
  }
  .login-panel {
    padding: 0 .1rem;
    margin: 0 auto;
    width: 20%;
    font-size: .71em;
    position: absolute;
  }
  .login-panel h4 {
    margin: auto;
    padding: .5rem;
  }
  .add-card, .filter-cards {
    width: 97%;
    display: block;
    height: 6rem;
    padding: .31rem;
  }
}
