<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Collection</title>
</head>
<body>
    <nav>
        <ul>
          <li class="navLink"><a href="collection.ejs">Collection</a></li>
          <li class="navLink"><a href="decks.ejs">Decks</a></li>
          <li class="navLink"><a href="contact.ejs">About/Contact Us</a></li>
        </ul>
      </nav>

      <h1>Collection Page</h1>

      <h2>Sort</h2>

      <form>
        <input type="checkbox" id="mana_cost" name="mana_cost" placeholder="Mana cost sort"> 
        <label for="mana_cost">Mana Manag Cost: </label> <br>
        <input type="checkbox" id="red_type" name="red_type" placeholder="Red type of mana">
        <label for="red_type">Red Mana Type: </label> <br>
        <input type="checkbox" id="black_type" name="black_type" placeholder="Black type of mana">
        <label for="black_type">Black Mana Type: </label> <br>
        <input type="checkbox" id="blue_type" name="blue_type" placeholder="Blue type of mana">
        <label for="red_type">Blue Mana Type: </label> <br>
        <input type="checkbox" id="white_type" name="white_type" placeholder="White type of mana">
        <label for="red_type">White Mana Type: </label> <br>
        <input type="checkbox" id="green_type" name="green_type" placeholder="Green type of mana">
        <label for="red_type">Green Mana Type: </label> <br>
        <input type="checkbox" id="none_type" name="none_type" placeholder="None type of mana">
        <label for="red_type">None Mana Type: </label> <br>
      </form>
         
    
</body>
</html>