<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About/Contact</title>
</head>
<body>
    <nav>
        <ul>
          <li class="navLink"><a href="collection.ejs">Collection</a></li>
          <li class="navLink"><a href="decks.ejs">Decks</a></li>
          <li class="navLink"><a href="contact.ejs">About/Contact Us</a></li>
        </ul>
      </nav>

      <h1>About/Contact</h1>
    
</body>
</html>