<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teste DB</title>
</head>
<body>
  <h1>Database Tables</h1>
  <% tables.forEach(function(r) { %>
    <li><%= r.table %>: <%= r.column %> (<%= r.type %></li>
  <% }); %>
</body>
</html>