<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/JS/loginLogoutUser.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
  <title>About/Contact</title>
</head>
<body>
  <header >
    <div class="logo-mtg-name">
    <h2>MTG Collection Tracker</h2></div>

    <nav class="nav">
      <ul>
        <li class="nav-link"><a href="/">Collection</a></li>
        <li class="nav-link"><a href="decks">Decks</a></li>
        <li class="nav-link"><a href="about">About</a></li>
        <li class="nav-link"><a href="help">Help</a></li>
      </ul>
    </nav>

    <div class="login-panel">
      <h4 id="loginPanelInfo" >Please <a href="#" class="openBox" origin="login">login</a> or <a href="#" class="openBox" origin="signup">create an account</a></h4>
      <div id="signup" class="popup-box">
        <div class="box-content">
          <div class="popup-form">
            <a class="close">&times;</a>
            <div class="openedPopupBox">
              <h3>Create New Account</h3>
              <div>
                <label for="first_name">First Name: </label> <input type="text" id="first_name" name="first_name" placeholder="Insert First Name"><br> 
                <label for="last_name">Last Name: </label><input type="text" id="last_name" name="last_name" placeholder="Insert Last Name"><br>
                <label for="username">@Username*: </label><input type="text" id="username" name="username" placeholder="NewCoolUsername" required="true"><br>
                <label for="email">Email*: </label><input type="email" id="email" placeholder="Insert Your Email" size="30" required="true"><br>
                <label for="pass">Password*: </label> <input type="password" id="pass" name="password" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required="true"><br>
                <button type="submit" onclick="javascript:createNewUser()">Create New User Account</button>
                <div id="password-message">
                  <h3>Password must contain the following:</h3>
                  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                  <p id="number" class="invalid">A <b>number</b></p>
                  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="login" class="popup-box">
        <div class="box-content">
          <div class="popup-form">
            <a class="close">&times;</a>
            <div class="openedPopupBox">
              <h3>Create New Account</h3>
              <div>
                <label for="login-email">Email*: </label><input type="email" id="login-email" pattern=".+@globex\.com" placeholder="Insert Your Email" size="30" required><br>
                <label for="login-password">Password* (8 characters minimum): </label> <input type="password" id="login-password" name="password" minlength="8" required><br>
                <button type="submit" onclick="javascript:loginUser()">Login</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="alert-popup" class="popup-box">
        <div class="box-content">
          <div class="popup-form">
            <a class="close">&times;</a>
            <div class="openedPopupBox">
              <div>
                <p id="alert-message"></p>
                <button type="close" id="close-alert-button" onclick="javascript:alertBox()">Ok</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="help">
    <h1>Need help?</h1>
    <h2>Check out our FAQ or contact us</h2>
  </div>
  <script src="/JS/loginPanels.js"></script>
</body>
</html>