<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MTG Collection Tracker App</title>
  <style>
    /* Singup form style design */
    .signup-box {
      display: none;
      position: fixed;
      z-index: 8;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
    }
    .box-content {
      margin: 50px auto;
      width: 60%;
    }
    .signup-box h3,
    .signup-box p {
      margin: 0 0 20px;
      font-weight: bold;
      color: #555;
    }
    .signup-form > a {
      color: #555;
      display: block;
      padding: 0 0 5px;
    }
    .openedSignupBox {
      padding: 25px;
      margin: 25px;
      box-shadow: 0 2px 5px #f5f5f5;
      background-color: #eee;
    }
    .signup-box input,
    .signup-box textarea {
      width: 90%;
      padding: 6px;
      margin-bottom: 10px;
      border: 1px solid #7a7878;
      outline: none;
    }
    .signup-box label {
      display: block;
    }
    .signup-form button {
      width: 92%;
      margin: 0 auto;
      padding: 10px;
      border: none;
      background: #7a7878;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
    }
    .signup-box button:hover {
      background: #555;
      cursor: pointer;
    }
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>Welcome to MTG Collection Tracker</h1>
  <h3>Please <a href="#" class="openBox" origin="login">login</a> or <a href="#" class="openBox" origin="signup">create an account</a></h3>
  <div id="signup" class="signup-box">
    <div class="box-content">
      <div class="signup-form">
        <a class="close">&times;</a>
        <div class="openedSignupBox">
          <h3>Create New Account</h3>
          <div>
            <label for="first_name">First Name: </label> <input type="text" id="first_name" name="first_name" placeholder="Insert First Name"><br> 
            <label for="last_name">Last Name: </label><input type="text" id="last_name" name="last_name" placeholder="Insert Last Name"><br>
            <label for="username">@Username*: </label><input type="text" id="username" name="username" placeholder="NewCoolUsername" required><br>
            <label for="email">Email*: </label><input type="email" id="email" pattern=".+@globex\.com" placeholder="Insert Your Email" size="30" required><br>
            <label for="pass">Password* (8 characters minimum): </label> <input type="password" id="pass" name="password" minlength="8" required><br>
            <button type="submit" onclick="javascript:createNewUser()">Create New User Account</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="login" class="signup-box">
    <div class="box-content">
      <div class="signup-form">
        <a class="close">&times;</a>
        <div class="openedSignupBox">
          <h3>Create New Account</h3>
          <div>
            <label for="login-email">Email*: </label><input type="email" id="login-email" pattern=".+@globex\.com" placeholder="Insert Your Email" size="30" required><br>
            <label for="login-password">Password* (8 characters minimum): </label> <input type="password" id="login-password" name="password" minlength="8" required><br>
            <button type="submit" onclick="javascript:loginUser()">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="db-info">Check DB insert and info</a>
  <br>
  <br>
  <label for="cardSelection">Type the card you want: </label> <input type="text" name="cardSelection" id="cardSelectionInput">
  <input type="submit" name="submitCardSelection" value="Select Card" onclick="javascript:getCardInfo()">
  <br>
  <span>Result:</span>
  
  <div id="displayCardImage">
    <img id="cardImageResult">
  </div>
  
  <div id="displayCardSelected">
  </div>
  <script>
    // Enable or close signup and login floating boxes
    let boxAnchor = [...document.querySelectorAll(".openBox")];

    boxAnchor.forEach(function (btn) {
      btn.onclick = function () {
        let box = btn.getAttribute("origin");

        if (box === "login") {
          document.getElementById("login").style.display = "block";
        } else if (box === "signup") {
          document.getElementById("signup").style.display = "block";
        }
      }
    });

    // Close floating boxes
    let closeBtn = [...document.querySelectorAll(".close")];
    closeBtn.forEach(function (btn) {
      btn.onclick = function() {
        let floaringBox = btn.closest(".signup-box");
        floaringBox.style.display = "none";
      }
    });

    // Closes modal when clicked outside the box
    window.onclick = function (event) {
      if (event.target.className === "signup-box") {
        event.target.style.display = "none";
      }
    };

    // Fetching card from API
    const getCardInfo = async function() {
      const cardName = document.getElementById('cardSelectionInput').value;
      
      const response = await fetch('/fetchCard', {
        method: 'POST', 
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          card_name: cardName
        })
      })
      
      const result = await response.json();

      // Checks if card name inserted is valid. If card not found, a message with an error will be informed. Otherwise displays the image and card text
      if (result.cardText === undefined) {
        document.getElementById('displayCardSelected').innerText = result.cardSelected;
      } else {
        document.getElementById('cardImageResult').setAttribute('src', result.cardImage);
        document.getElementById('displayCardSelected').innerText = result.cardText;
      }

      console.log(result);
    };

    // Login user handling code 
    const loginUser = async function(id) {
      const uEmailLogin = document.getElementById("login-email").value;
      const uPasswordLogin = document.getElementById("login-password").value;
      
      console.log(uEmailLogin);

      if (uEmailLogin === "" || uPasswordLogin === "") {
        alert("Please, insert a valid username, email and password to sign in.");
      } else {
        const response = await fetch('/login_user', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            user_email: uEmailLogin,
            user_password: uPasswordLogin
          })
        });

        const result = await response.text();
        console.log(result);

      }
    }

    // Saving user info on BD and create new account
    let currentUserId = null;
    const createNewUser = async function(id) {
      const uFirstName= document.querySelector('#first_name').value;
      const uLastName= document.querySelector('#last_name').value;
      const uUsername= document.querySelector('#username').value;
      const uEmail= document.querySelector('#email').value;
      const uPassword = document.querySelector('#pass').value;
      
      if (uUsername === "" || uEmail === "" || uPassword === "") {
          alert("Please, insert a valid username, email and password to create your new account");
      } else {        
        const response = await fetch('/signup_user', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            password: uPassword,
            username: uUsername,
            email: uEmail,
            first_name: uFirstName,
            last_name: uLastName
          })
        });
        const result = await response.json();
        console.log(result);

        currentUserId = id;

        document.getElementById("signup").style.display = "none";
        alert("New user succesfully created.")
      }
    };
  </script>
</body>
</html>