<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <title>MTG Collection Tracker App</title>
  <script src="/JS/loginLogoutUser.js"></script>
</head>
<body>
  <nav>
    <ul>
      <li class="navLink"><a href="/">Collection</a></li>
      <li class="navLink"><a href="decks">Decks</a></li>
      <li class="navLink"><a href="about">About</a></li>
      <li class="navLink"><a href="help">Help</a></li>
    </ul>
  </nav>

  <div class="loginPanel">
    <h3 id="loginPanelInfo" >Please <a href="#" class="openBox" origin="login">login</a> or <a href="#" class="openBox" origin="signup">create an account.</a></h3>
    <div id="signup" class="signup-box">
      <div class="box-content">
        <div class="signup-form">
          <a class="close">&times;</a>
          <div class="openedSignupBox">
            <h3>Create New Account</h3>
            <div>
              <label for="first_name">First Name: </label> <input type="text" id="first_name" name="first_name" placeholder="Insert First Name"><br> 
              <label for="last_name">Last Name: </label><input type="text" id="last_name" name="last_name" placeholder="Insert Last Name"><br>
              <label for="username">@Username*: </label><input type="text" id="username" name="username" placeholder="NewCoolUsername" required><br>
              <label for="email">Email*: </label><input type="email" id="email" pattern=".+@globex\.com" placeholder="Insert Your Email" size="30" required><br>
              <label for="pass">Password* (8 characters minimum): </label> <input type="password" id="pass" name="password" minlength="8" required><br>
              <button type="submit" onclick="javascript:createNewUser()">Create New User Account</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="login" class="signup-box">
      <div class="box-content">
        <div class="signup-form">
          <a class="close">&times;</a>
          <div class="openedSignupBox">
            <h3>Create New Account</h3>
            <div>
              <label for="login-email">Email*: </label><input type="email" id="login-email" pattern=".+@globex\.com" placeholder="Insert Your Email" size="30" required><br>
              <label for="login-password">Password* (8 characters minimum): </label> <input type="password" id="login-password" name="password" minlength="8" required><br>
              <button type="submit" onclick="javascript:loginUser()">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1>Welcome to MTG Collection Tracker</h1>

  <a href="db-info">Check DB insert and info</a>
  <br>
  <br>
  <label for="cardSelection">Type the card you want: </label> <input type="text" name="cardSelection" id="cardSelectionInput">
  <input type="submit" name="submitCardSelection" value="Search Card" onclick="javascript:getCardInfo()">
  <br>
  <span>Result:</span>
  
  <div id="displayCardImage">
    <img id="cardImageResult">
  </div>
  
  <div id="displayCardSelected">
  </div>

  <div id="addCardDeck">
    <button id="addCardToDeck" name="addCardToDeck" onclick="javascript:addCardToDeck()">Add card to selected deck.</button>
    <label for="selectDeck">Select Deck:</label>
    <p id="test"></p>

  </div>
  

  <form>
    <input type="checkbox" id="mana_cost" name="mana_cost" placeholder="Mana cost sort"> 
    <label for="mana_cost">Mana Manag Cost: </label> <br>
    <input type="checkbox" id="red_type" name="red_type" placeholder="Red type of mana">
    <label for="red_type">Red Mana Type: </label> <br>
    <input type="checkbox" id="black_type" name="black_type" placeholder="Black type of mana">
    <label for="black_type">Black Mana Type: </label> <br>
    <input type="checkbox" id="blue_type" name="blue_type" placeholder="Blue type of mana">
    <label for="red_type">Blue Mana Type: </label> <br>
    <input type="checkbox" id="white_type" name="white_type" placeholder="White type of mana">
    <label for="red_type">White Mana Type: </label> <br>
    <input type="checkbox" id="green_type" name="green_type" placeholder="Green type of mana">
    <label for="red_type">Green Mana Type: </label> <br>
    <input type="checkbox" id="none_type" name="none_type" placeholder="None type of mana">
    <label for="red_type">None Mana Type: </label> <br>
  </form>
  <script src="/JS/loginPanels.js"></script>
  <script>
    // Fetching card from API
    const getCardInfo = async function() {
      const cardName = document.getElementById('cardSelectionInput').value;
      
      const response = await fetch('/fetchCard', {
        method: 'POST', 
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          card_name: cardName
        })
      });
      
      const result = await response.json();

      // Checks if card name inserted is valid. If card not found, a message with an error will be informed. Otherwise displays the image and card text
      if (result.cardText === undefined) {
        document.getElementById('displayCardSelected').innerText = result.cardSelected;
      } else {
        document.getElementById('cardImageResult').setAttribute('src', result.cardImage);
        document.getElementById('displayCardSelected').innerText = result.cardText;
      }

      console.log(result);
    };

    // Adding a card to the selected deck
    const addCardToDeck = async function() {
      const cardName = document.getElementById('cardSelectionInput').value;

      const response = await fetch('/fetchCard', {
        method: 'POST', 
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          card_name: cardName
        })
      })

      const result = await response.json();

      if (result.cardName === undefined) {
        document.getElementById('test').innerText = "Fails";
      } else {
        document.getElementById('test').innerText = "Works?";
        const cardToAdd = result.cardName;

        const add = await post('/addToDeck', {
        method: 'POST', 
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          card_name: cardName
        })
      })
      }
    }

    // Login user handling code 
    const loginUser = async function(id) {
      const uEmailLogin = document.getElementById("login-email").value;
      const uPasswordLogin = document.getElementById("login-password").value;
      
      if (uEmailLogin === "" || uPasswordLogin === "") {
        alert("Please, insert a valid username, email and password to sign in.");
      } else {
        const response = await fetch('/login_user', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            user_email: uEmailLogin,
            user_password: uPasswordLogin
          })
        });

        // Fetching for users records. If correct returns true for success and username, if incorrect returns false for success.
        const result = await response.json();
        if (result.success === true) {
          alert("User " + result.username + " successfuly logged in.");
          document.getElementById("login").style.display = "none";
        } else {
          alert("User not found or the provided email or password was incorrect. Please, try again.");
        }
      }
    }

    // Saving user info on BD and create new account
    let currentUserId = null;
    const createNewUser = async function(id) {
      const uFirstName= document.querySelector('#first_name').value;
      const uLastName= document.querySelector('#last_name').value;
      const uUsername= document.querySelector('#username').value;
      const uEmail= document.querySelector('#email').value;
      const uPassword = document.querySelector('#pass').value;
      
      if (uUsername === "" || uEmail === "" || uPassword === "") {
          alert("Please, insert a valid username, email and password to create your new account");
      } else {        
        const response = await fetch('/signup_user', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            password: uPassword,
            username: uUsername,
            email: uEmail,
            first_name: uFirstName,
            last_name: uLastName
          })
        });
        const result = await response.json();
        console.log(result);

        currentUserId = id;

        document.getElementById("signup").style.display = "none";
        alert("New user succesfully created.")
      }
    };
  </script>
</body>
</html>